{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}


    <!-- create listing form -->
    <div class="create-listing-form">

        <h4>Create new listing</h4>
        <form action="{% url 'create' %}" method="post">
        <table class="create-listing-table">
        
            {% csrf_token %}
            {{ form.as_table }}  
            <tr>
                <td></td>
                <td><input class="btn btn-primary form-button" type="submit" value="Save"></td>
            </tr>  
        
        </table>    
       </form> 
    </div>


{% endblock %}