{% extends "auctions/layout.html" %}


{% block body %}

            <div class="listing-detail">

                <h2>Listing: {{ listing.title }}</h2>
                  
            <div class="container">
            <div class="row">
             <div class="col-6 detail-image">
                <img src="../static/auctions/images/{{ listing.url }}" alt="{{ listing.title }}">
             </div>
             <div class="col-5 details">
                <div class="row bid">
                    <div class="clearfix">
                        <h3>Bid</h3>
                        <p>Starting Bid: ${{ listing.starting_bid }}</p>
                        <p>Current Bid: ${{ current_bid }}</p>
                    {% if userauthenticated == True %}
                    <form action="{% url 'details' listing.id %}" method="post">
                        {% csrf_token %}
                        <span class="bid-input">
                       {{ bidform }}
                        </span>
                        <input type="submit" value="Place Bid">
                        {% if messages %}
                           
                        {% for message in messages %}
                           <span class="message" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                        {% endfor %}
                        
                        {% endif %}
                    </form>
                    {% endif %}
                    </div>
                </div>
                <div class="row details-text">
                    <div class="clearfix">
                        <h3>Details</h3>
                    <p>Listed By: {{ listing.listing_owner }}
                    {% if listing.category %}
                        <p>Category: {{ listing.category }}
                    {% else %}
                        <p>No Category.</p>
                    {% endif %}
                    <p>Description: {{ listing.description }}</p>
                    {% if userauthenticated == True %}
                        <p>
                            <p>listing id {{listing.id}}</p>
                        {% if watch_flag == "watching" %}
                            <a href='{% url 'watchlist' listing.id %}'>Remove from watchlist</a>
                        {% else %}
                            <a href='{% url 'watchlist' listing.id %}'>Add to watchlist</a>
                        {% endif %}
                        </p>
                    {% endif %}
                    </div>
                   
                </div>
             </div>
            </div>
            </div>
            {% if userauthenticated == True %}
            <div class="comment">
                <div class="comment-form">
                <h3>Post a comment</h3>
                <form action="{% url 'details' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ commentform }}
                    <input id="comment-button" type="submit" value="Post">
                </form>
                </div>
            </div>
                
            {% endif %}
            <div class="comment-list">
                <h3>Comments</h3>
                {% for comment in comments %}
                <div>
                    <p>Comment: {{ comment.comment }}</p>
                    <p>Author: {{ comment.user_id }}</p>
                </div>
                {% empty %}
                    <p>No Comments Available</p>
                {% endfor %}
            </div>
            
            

  
{% endblock %}