{% extends "auctions/layout.html" %}


{% block body %}
    <h2>Display Listing</h2>
    
            <div class="listing-detail">
                    Title: {{ listing.title }}</br>
                    Watchlist:</br>
                    <div class="detail-image"><img src="static/auctions/{{ listing.url }}" alt="Listing Image"></div>
                    Description:</br>
                    Price:</br>
                    Bid Feedback:</br>
                    Bid Input:</br>
                    Bid Button:</br>
                    <h3>Details</h3>
                    <ul>
                        <li>Listed By:</li>
                        <li>Category:</li>
                    </ul>
            </div>
  
{% endblock %}