{% extends "auctions/layout.html" %}


{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for listing in listings %} 
            <div class="row">
                <div class="left-col">
                    {% load static %}
                    <a href="{% url 'display_listing' listing.id %}"><img src="static/auctions/{{ listing.url }}" alt="Listing Image"></a>
                </div>
                <div class="right-col">
                    Title: {{ listing.title }}</br>
                    Price: {{ listing.starting_bid }}</br>
                    Created: {{ listing.date }}</br>
                </div>
            </div>
        {% empty %}
            <li>No Listings.</li>
        {% endfor %}
    </ul>
{% endblock %}