{% extends "auctions/layout.html" %}


{% block body %}

            <div class="listing-detail">

                <h2 class="capit">Listing: {{ listing.title }}</h2>
                  
            <div class="container">
            <div class="row">
             <div class="col-6 detail-image">
                <img src="../static/auctions/images/{{ listing.url }}" alt="{{ listing.title }}">
                <h6 class="listing-description capit">{{ listing.description }}</h6>
             </div>
             <div class="col-5 listing">
                <div class="row bid">
                    <div class="clearfix">
                        <h2><u>Bid</u></h2>
                        {% if userauthenticated == True %} 
                            {% if bid_status == False %}
                              <h3>${{ current_bid }}</h3>
                              <p>{{ bids_so_far }} Bid(s) so far.</p> 
                              {% if bids_so_far > 0 %}
                                <p><strong>
                                    <span class="capit">{{ highest_owner }}</span>
                                </strong> has the current highest bid.</p>
                              {% endif %}
                            {% else %}
                              {% if highest_owner == user_id %}
                                <p>You won the highest bid at ${{ current_bid }}</p>
                              {% else %}  
                                <p>Bid closed at: ${{ current_bid }}</p>
                              {% endif %}
                            {% endif %}
                            {% if bid_status == False %}
                                {% if listing.listing_owner == user_id %}
                                    <form action="{% url 'endbid' listing.id %}" method="post">
                                    {% csrf_token %}
                                    {% if active_flag == True %}
                                        <input type="submit" value="Close Listing">
                                    {% else %}
                                        <p>Biding closed</p>
                                    {% endif %}
                                    </form>
                                {% else %}
                                    <form action="{% url 'listing' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <span class="bid-input">
                                    {{ bidform }}
                                    </span>
                                    <input type="submit" value="Place Bid">
                                    </form>
                               {% endif %}
                            {% endif %}
                            <div class="bid-message">    
                            {% if messages %}     
                            {% for message in messages %}
                            <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                            {% endfor %}
                            {% endif %}   
                            </div>
                        {% else %}
                            <h3>${{ current_bid }}</h3>
                            <p>You need to login to bid.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row listing-text">
                    <div class="clearfix">
                    <h2><u>Details</u></h2>
                    <p>Listed By: {{ listing.listing_owner }}</p>
                    {% if listing.category %}
                        <p>Category: {{ listing.category }}</p>
                    {% else %}
                        <p>No Categories available.</p>
                    {% endif %}
                    {% if userauthenticated == True %}
                        <p>
                        {% if watch_flag == "watching" %}
                            <a href='{% url 'watchlist' listing.id %}'>Remove from watchlist</a>
                        {% else %}
                            <a href='{% url 'watchlist' listing.id %}'>Add to watchlist</a>
                        {% endif %}
                        </p>
                    {% endif %}
                    </div>
                </div>
             </div>
            </div>
            </div>
            {% if userauthenticated == True %}
            <div class="comment">
                <div class="comment-form">
                <h3>Post a comment</h3>
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ commentform }}
                    <input id="comment-button" type="submit" value="Post">
                </form>
                </div>
            </div>
                
            {% endif %}
            <div class="comment-list">
                <h3>Comments</h3>
                {% for comment in comments %}
                <div>
                    <p>Comment: {{ comment.comment }}</p>
                    <p>Author: <span class="capit">{{ comment.user_id }}</span></p>
                </div>
                {% empty %}
                    <p>No comments available.</p>
                {% endfor %}
            </div>
            
            

  
{% endblock %}